:root {
  --gap: 1rem;
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --font-weight: normal;
  --line-height: 1.5;
  --font-style: normal;
  --link-decoration: underline;
}

.light {
  --color: #000;
  --bg: #fff;
  --link-color: #0070f3;
}

.dark {
  --color: #fff;
  --bg: #000;
  --link-color: #0070f3;
}

body {
  background: var(--bg);
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  font-style: var(--font-style);

  max-width: 800px;
  margin: 0 auto;
}
